{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

mkdir -p ~/bin

sudo apt-get update
sudo apt-get install -y build-essential gh tmux fish fzf ripgrep jq zip unzip fd-find libxml2-utils
sudo apt remove -y lynx
sudo snap install --classic nvim
sudo snap install --classic chezmoi
sudo snap install emacs --channel=pgtk/edge --classic

# fd
rm -f ~/bin/fd
ln -s $(which fdfind) ~/bin/fd

# yazi
YAZI_VERSION=$(curl -s "https://api.github.com/repos/sxyazi/yazi/releases/latest" | grep -Po '"tag_name": "v\K[^"]*')
curl -Lo /tmp/yazi.zip https://github.com/sxyazi/yazi/releases/download/v${YAZI_VERSION}/yazi-x86_64-unknown-linux-gnu.zip
unzip -o /tmp/yazi.zip -d /tmp
mv /tmp/yazi-x86_64-unknown-linux-gnu/yazi ~/bin/yazi

# lazygit
LAZYGIT_VERSION=$(curl -s "https://api.github.com/repos/jesseduffield/lazygit/releases/latest" | grep -Po '"tag_name": "v\K[^"]*')
curl -Lo /tmp/lazygit.tar.gz "https://github.com/jesseduffield/lazygit/releases/latest/download/lazygit_${LAZYGIT_VERSION}_Linux_x86_64.tar.gz"
tar xvfz /tmp/lazygit.tar.gz -C ~/bin lazygit

{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/bash

mkdir -p ~/bin

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "d12frosted/emacs-plus"
tap "homebrew/bundle"
tap "homebrew/cask-fonts"
tap "homebrew/services"
brew "aws-sam-cli"
brew "awscli"
brew "cmake"
brew "llvm"
brew "docutils"
brew "fish"
brew "fzf"
brew "gdk-pixbuf"
brew "gh"
brew "git-lfs"
brew "glow"
brew "unbound"
brew "gnutls"
brew "libassuan"
brew "pinentry"
brew "gnupg"
brew "gocloc"
brew "harfbuzz"
brew "hexedit"
brew "htop"
brew "janet"
brew "jq"
brew "kakoune"
brew "lazygit"
brew "librsvg"
brew "magic-wormhole"
brew "neovim"
brew "pass"
brew "redis", restart_service: true
brew "ripgrep"
brew "shared-mime-info"
brew "telnet"
brew "tig"
brew "tmux"
brew "watch"
brew "wget"
brew "wxwidgets"
brew "xmlformat"
brew "yazi"
brew "zellij"
brew "zoxide"
brew "d12frosted/emacs-plus/emacs-plus@30", args: ["with-dragon-icon"]
cask "font-fira-mono"
cask "font-jetbrains-mono"
cask "font-monaspace"
cask "font-roboto-mono"
cask "font-roboto-mono-nerd-font"
cask "font-symbols-only-nerd-font"
cask "kitty"
EOF
{{ end -}}
